<html>
  <head>
   <center style="border-style: dashed;"> <title>Administratorius</title>
  </head>
    <body>
        <h1><u>Aplikacijos valdymo konsolė</u></h1> 

        <p><a href="https://dominykas-tautkus.github.io/corr-app/" ><button class=grey style="height:75px;width:150px">Atidaryti aplikaciją </button></a></p><a href="https://github.com/Dominykas-Tautkus/corr-app/actions" >
        <button class=grey style="height:75px;width:150px">GitHub Actions (veiksmų peržiūra) </button></a></p>
		

        <h2>Kriptovaliutų kursų analizės aplikacijos nustatymai</h2>
        Keisti automatinio atsinaujimo dažnį:

        <p align="center"><a href=update_30min><button class=grey style="height:75px;width:150px">Kas pusvalandį </button></a></p>
        
        <p align="center"><a href=update_hourly><button class=grey style="height:75px;width:150px">Kas valandą </button></a></p>
        
        <p align="center"><a href=update_2h><button class=grey style="height:75px;width:150px">Kas 2 valandas </button></a></p>

        <p align="center"><a href=update_daily><button class=grey style="height:75px;width:150px">Kas dieną </button></a></p>

        <p align="center"><a href=update_weekly><button class=grey style="height:75px;width:150px">Kas savaitę </button></a></p>
    </center>
    </body>
</html>